<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>MVC With Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
<style>
	body{
		background-image: url("/assets/img/beanstalk.png")
	};
	</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
